version: 2.1

jobs:
  build:
    docker:
      - image: cimg/python:3.11
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            python -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - run:
          name: Run Django tests
          command: |
            . venv/bin/activate
            python manage.py test

  deploy:
    docker:
      - image: cimg/python:3.11
    steps:
      - checkout
      - run:
          name: Install EB CLI
          command: pip install awsebcli --upgrade
      - run:
          name: Deploy to Elastic Beanstalk
          command: eb deploy django-env


workflows:
  version: 2
  deploy_pipeline:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: main
